In [3]:
import pandas as pd

In [7]:
baseline_rouge = pd.read_json('/home/eahc00/NLP/term_project/baseline_eval_result_rouge.json', lines=True)
finetuning_rouge = pd.read_json('/home/eahc00/NLP/term_project/finetuning_eval_result_rouge.json', lines=True)

In [6]:
baseline_rouge.describe()

,valid_idx,rouge1,rouge2,rougel,rouge1_recall,rouge2_recall,rougel_recall
count,88.000000,88.000000,88.000000,88.000000,88.000000,88.000000,88.000000
mean,43.500000,0.154462,0.064543,0.135878,0.137558,0.059000,0.119943
std,25.547342,0.113315,0.071507,0.092247,0.137858,0.082655,0.113121
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,21.750000,0.074896,0.006263,0.074896,0.047581,0.005959,0.047581
50%,43.500000,0.136337,0.045628,0.119602,0.101443,0.032086,0.091310
75%,65.250000,0.204242,0.094755,0.188426,0.169140,0.074952,0.150962
max,87.000000,0.476821,0.306122,0.397351,0.761905,0.450000,0.619048

In [8]:
finetuning_rouge.describe()

,valid_idx,rouge1,rouge2,rougel,rouge1_recall,rouge2_recall,rougel_recall
count,88.000000,88.000000,88.000000,88.000000,88.000000,88.000000,88.000000
mean,43.500000,0.234795,0.077920,0.175878,0.237808,0.082323,0.179362
std,25.547342,0.113974,0.062637,0.083421,0.156942,0.095442,0.127279
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,21.750000,0.143211,0.025199,0.099325,0.105460,0.020998,0.077679
50%,43.500000,0.266501,0.066228,0.180236,0.241053,0.053114,0.156241
75%,65.250000,0.315297,0.112745,0.238887,0.333333,0.097280,0.233507
max,87.000000,0.506849,0.263889,0.356164,0.833333,0.636364,0.750000

In [2]:
from transformers import AutoModelForCausalLM, AutoTokenizer

try:
    model_name = "MLP-KTLim/llama-3-Korean-Bllossom-8B"
    base_model = AutoModelForCausalLM.from_pretrained(model_name) #, revision='main')
    tokenizer = AutoTokenizer.from_pretrained(model_name)
except OSError as e:
    print(f"Error loading model: {e}")
    # 모델이 없거나 파일이 누락된 경우 처리 코드 추가

Error loading model: MLP-KTLim/llama-3-Korean-Bllossom-8B does not appear to have a file named config.json. Checkout 'https://huggingface.co/MLP-KTLim/llama-3-Korean-Bllossom-8B/tree/main' for available files.